language: ruby

# whitelist
branches:  
  only:
    - develop

services:  
    #Enable docker service inside travis
    - docker

before_install:  
    - docker login -u="middlemarsh29" -p="Welcome$00"

script:  
    #build the image
    - docker build -t api-internal src
    #tag the build
    - docker tag api-internal middlemarsh29/payments.api.internal
    #push the image to the repository
    - docker push middlemarsh29/payments.api.internal